
    .ant-modal-content {
      background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364)!important;
    }

    .ant-modal-header{
        background: transparent!important;
    }

    .ant-modal-title, h1, h2 ,li {
        color: rgba(255,255,255,0.7)!important;
    }

    .ant-modal-footer button {
        background: transparent!important;
        color: rgba(255,255,255,0.7)!important;
        border-color: #0f2027;
    }

    .ant-select-item.ant-select-item-option {
        color: rgba(255,255,255,0.7)!important;
    }

    .ant-select-dropdown {
        background: #2c5364!important;
    }

    .ant-select-item-option-selected {
        background-color: transparent!important;
    }
    
    .ant-input-data-count {
        color: rgba(255,255,255,0.7)!important;
    }