.poll-edit {
  .edit-page-layout-header {
    height: 142px;
  }
}

.edit-page-layout-content {
  #poll-profile-edit {
    .ant-tabs-nav {
      position: absolute !important;
      top: 97px !important;
    }

    .city {
      margin-top: 24px;

      .ant-form-item-control-input-content {
        flex: none;
      }
    }
  }
}

label[title='mulitiple'],
label[title='anonymous'],
label[title='comment'],
label[title='options'] {
  display: none;
}

.option-sortable-list {
  list-style: none;
  padding: 0;

  .poll-edit-drag-wrap {
    height: 32px;
    list-style: none;
    margin-bottom: 24px;

    .poll-edit-drag-handle {
      position: absolute;
      left: -25px;
    }

    .ant-input-group-wrapper {
      .ant-input-group-addon {
        border: none;
        background: transparent;
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}

.poll-options-add-btn {
  width: auto;
  text-align: center;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
}

.poll-controls {
  margin-top: 24px;
}

.poll-modal-content {
  width: 100%;
  // height: 860px;
}

.poll-previw-modal {
  .ant-modal-content {
    padding: 0;
    border-radius: 0;

    .ant-modal-header {
      padding: 16px 24px;
      height: 56px;
      border-bottom: 1px solid #f0f0f0;
    }

    .ant-modal-body {
      padding: 24px;
      box-sizing: border-box;
      min-height: 600px!important;
      overflow-y: auto;

      /* Webkit浏览器 */
      &::-webkit-scrollbar {
        width: 5px;
      }

      /* 滚动条轨道 */
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }

      /* 滚动条滑块 */
      &::-webkit-scrollbar-thumb {
        background-color: #888;
      }

      /* 悬停在滚动条上时的滑块 */
      &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }
    }

    .ant-modal-footer {
      border-top: 1px solid #f0f0f0;
      padding: 10px 16px;
    }

    .start-end-date,
    .current-time {
      color: var(--text-deep-blue-grey, var(--text-deep-blue-grey-1, #5c6e7c));

      /* ManifaPro/Mobile/Body-1_R_14_130% */
      font-family: ManifaPro2;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      /* 18.2px */
    }

    .poll-title {
      color: var(--text-black-1, #282424);
      /* ManifaPro/Mobile/Body-1_B_22_130% */
      font-family: ManifaPro2;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 28.6px */
    }

    .poll-preview-question-title {
      color: var(--text-deep-grey-2, #001b3c);

      /* ManifaPro/Mobile/Body-1_R_22_130% */
      font-family: ManifaPro2;
      font-size: 22px;
      font-style: normal;
      line-height: 130%;
      /* 28.6px */
    }

    .poll-preview-question-visible {
      color: var(--text-deep-blue-grey-2, #646b73);

      /* ManifaPro/Mobile/Body-1_R_18_130% */
      font-family: ManifaPro2;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      /* 23.4px */
    }

    .poll-preview-question-option {
      color: var(--text-black-2, var(--text-black-2, #3a3e43));

      /* ManifaPro/Mobile/Body-1_R_20_130% */
      font-family: ManifaPro2;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      /* 26px */
    }
  }
}
